<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adventure Archive</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %> 
    <h1>Welcome to Adventure Archive!</h1>
    <h2>Sign in to share memories and find inspiration for that next big trip!</h2>
  </body>
</html>