<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adventure Archive</title>
  </head>
  <body>
    <h1>Share memories and find inspiration for that next big trip!</h1>
  </body>
</html>