<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a New Adventure</title>
</head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Adventure</h1>
    <form action="/users/<%= user._id %>/adventures" method="POST">
        <label for="destination">Destination:</label>
        <input type="text" name="destination" id="destination">
        <label for="memories">Memories:</label>
        <textarea name="memories" id="memories"></textarea>
        <button type="submit">Add Adventure</button>
    </form>
  </body>
</html>